html > body {
  background-color: aliceblue;
}
span.a {
  display: inline; /* the default for span */
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;
  background-color: yellow;
}

span.b {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;
  background-color: yellow;
}

span.c {
  display: block;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;
  background-color: yellow;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.right1 {
  position: absolute;
  right: 0px;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}

.right2 {
  float: right;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green;
}

div + div {
  color: red;
}

div ~ p {
  background-color: yellow;
}