body {
   background-color: lightblue;
 }
 
 h1 {
   color: white;
   text-align: center;
 }
 
 p {
   font-size: 20px;
   color: red;
   text-align: center;
 }
 #p1{
   font-size: 25px;
   color: white;
   text-align: end;
   width: 50%;
 }
 .border {
   border-top: 2px solid grey;
 }
 *{
   font-family: verdana;
 }