ol {
  background: #ff9999;
  padding: 20px;
}

ul {
  background: #3399ff;
  padding: 20px;
}

ol li {
  background: #ffe5e5;
  color: darkred;
  padding: 5px;
  margin-left: 35px;
}

ul li {
  background: #cce5ff;
  color: darkblue;
  margin: 5px;
}

ul.a {
  list-style-type: circle;
  list-style-position: outside;
}


ul.b {
  list-style-type: square;
  list-style-position: inside;
}

ul.a li, ul.b li {
  border: 1px solid #000;
}

ol.c {
  list-style-type: upper-roman;
}

ol.d {
  list-style-type: lower-alpha;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  height: 70px;
}

td {
  text-align: center;
}

table, th, td {
  border: 1px solid;
  padding: 15px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

tr:hover {background-color: coral;}